{layout name="layout"}
<section class="content-header">
    <h1>
        基础管理
        <small>用户创建</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" class="layui-form">
                    <div class="box-body">

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">用户姓名：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="form-control" placeholder="" id="last_name">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">用户账号：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="form-control" placeholder="" id="number">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">用户密码：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="form-control" placeholder="" id="password">
                            </div>
                        </div>

                        <div>
                            <select id="play" style="width: 200px; height: 33px; font-size: 13px; border-color: #d2d8c8" >
                                <option value="00"  style="font-size: 12px">请选择角色</option>
                                {volist name="$plays" id="play"}
                                <option value="{$play.id}">{$play.name}
                                </option>
                                {/volist}
<!--                                <option value="00"  style="font-size: 12px">医疗机构负责人</option>
                                <option value="01"  style="font-size: 12px">感控科主任</option>
                                <option value="02"  style="font-size: 12px">专职感控人员</option>
                                <option value="03" style="font-size: 12px">兼职感控人员</option>
                                <option value="04" style="font-size: 12px">科室负责人</option>
                                <option value="05" style="font-size: 12px">护理单元负责人</option>
                                <option value="06" style="font-size: 12px">感控督导员组长</option>
                                <option value="07" style="font-size: 12px">感控督导员</option>
                                <option value="08" style="font-size: 12px">暗访人员</option>
                                <option value="09" style="font-size: 12px">在职员工</option>
                                <option value="09" style="font-size: 12px">其他</option>-->
                            </select>
                        </div>

                        <div>
                            <select id="i_post" name="positionId" lay-filter="getPostNatureIds" class="selectpicker show-tick" style="width: 200px; height: 33px; font-size: 13px; border-color: #d2d8c8">
                                <option value="" style="font-size: 12px">--请选择岗位--</option>
                                <option value="1" style="font-size: 12px">护理</option>
                                <option value="2" style="font-size: 12px">医疗</option>
                                <option value="3" style="font-size: 12px">医技</option>
                                <option value="4" style="font-size: 12px">工勤</option>
                                <option value="5" style="font-size: 12px">行政管理</option>
                                <option value="6" style="font-size: 12px">其他</option>
                            </select>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">用户身份：</label>
                                <input type="radio" name="identity" value="1" checked>院感科
                                <input type="radio" name="identity" value="2">非院感科
                        </div>

                        <div class="layui-form-item" style="text-align: center;">
                            <button type="submit" class="layui-btn submitDate">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- 配置文件 -->
{js href="/static/ueditor/ueditor.config.js" /}
{js href="/static/layui/layui.js" /}
<!-- 实例化编辑器 -->
<script type="text/javascript">


    layui.use(['element', 'form', 'laydate', 'laypage', 'layer', 'laytpl', 'layedit'], function() {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var layedit = layui.layedit;


        //添加 编辑
        $(document).on('click','.submitDate',function(){
            var last_name = $("#last_name").val();
            var number = $("#number").val();
            var pwd = $("#password").val();
            var identity = $("input[name=identity]:checked").val();
            var play = $("#play").val();
            var i_post = $("#i_post").val();
            if(number.length != 5){
                alert("账号为五位数字");
            }
            if(last_name == ''){
                alert("姓名不能为空");
            }
            if(pwd == ''){
                alert("密码不能为空");
            }
            if(play == ''){
                alert("请选择用户角色");
            }
            if(i_post == ''){
                alert("请选择用户岗位");
            }

            var param = {
                last_name: last_name,
                number: number,
                pwd: pwd,
                identity: identity,
                play:play,
                i_post:i_post
            };

            var str11 = JSON.stringify(param);
            console.log(str11);
            $.post('/admin/save', param).then(function (resp) {
                var str = JSON.stringify(resp);
                console.log(str);
                if(resp.code == 200){
                    alert(resp.msg);
                    history.go(0);
                }else{
                    alert(resp.msg);
                    history.go(0);
                }
            });

        })

    })

</script>

<style type="text/css">


</style>
