{layout name="layout"}
<section class="content-header">
    <h1>
        基础管理
        <small>用户列表</small>
    </h1>
</section>
<!-- Main content -->
    <div class="content">
        <div class="content-area">
            <table class="layui-table" id="dataList">
                <thead>
                <tr>
                    <th>用户姓名</th>
                    <th>用户账号</th>
                    <th>用户角色</th>
                    <th>用户岗位</th>
                    <th>用户类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="registerList">


                </tbody>
            </table>
        </div>
    </div>

{js href="/static/layui/layui.js" /}

<script type="text/javascript">


    layui.use(['element', 'form', 'laydate', 'laypage', 'layer', 'laytpl', 'layedit'], function() {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var layedit = layui.layedit;


        //删除
        $(document).on('click', '.del-btn', function () {
            var id = document.getElementById('data_id').innerHTML;
            $.post('/admin/del', {
                'id' : id
            }).then(function (resp) {
                console.log(resp);
                alert("删除成功");

            });
        });

        sellerList();
        function sellerList(){
            $.post('/admin/indexList', {}).then(function (resp) {
                var str = JSON.stringify(resp);
                console.log(str);
                var html = "";
                $(resp).each(function (i) {
                    html += "<tr>";
                    html +="<td>"+this.last_name+"</td>";
                    html +="<td>"+this.number+"</td>";
                    if(this.identity == 1){
                        html +="<td>院感</td>";
                    }else{
                        html +="<td>非院感</td>";
                    }
                    html +='<td><span id="data_id" style="display: none;">'+this.id+'</span>';
                    html +='<a href="" class="del-btn"><span style="color: #dd4b39;" >删除</span></a></td>';
                    html += "</tr>";
                });
                $('#registerList').html(html);
                form.render();

            });
        }

        $(document).on('click', '#search', function () {
            sellerList();
        })

    })
</script>

