{layout name="layout"}
<section class="content-header">
    <h1>
        贴吧管理
        <small>帖子创建</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" class="layui-form">
                    <div class="box-body">

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">标题：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="form-control" placeholder="" id="title">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">科室选择：</label>
                            <div class="layui-input-inline">
                                <select name="yard" id="yard" lay-filter='yard'>
                                    <option value="">请选择一级科室</option>
                                    {volist name="$yards" id="yard"}
                                    <option value="{$yard.id}">{$yard.name}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <select name="system" id="system">
                                    <option value="">请选择二级科室</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">回帖：</label>
                            <div class="layui-col-md9">
                                <textarea id="content" name="content" style="display: none;"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item" style="text-align: center;">
                            <button type="submit" class="layui-btn submitDate">提交帖子</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- 配置文件 -->
{js href="/static/ueditor/ueditor.config.js" /}
{js href="/static/layui/layui.js" /}
<!-- 实例化编辑器 -->
<script type="text/javascript">


    layui.use(['element', 'form', 'laydate', 'laypage', 'layer', 'laytpl', 'layedit'], function() {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var layedit = layui.layedit;

        var index = layedit.build('content'); //建立编辑器

        //院系联动
        form.on('select(yard)', function(data){
            var yardId=data.elem.value;
            $.post('system',{
                yardId:yardId
            },function (result) {
                html = "<option value='0'>请选择二级科室</option>";
                $(result).each(function (i) {
                    html +="<option value='"+this.id+"'>"+this.name+"</option>"
                });
                $('#system').html(html);
                form.render('select'); //这个很重要
            });
        });

        //添加 编辑
        $(document).on('click','.submitDate',function(){
            var yard = $("#yard").find("option:selected").val();
            var system = $("#system").find("option:selected").val();
            var title = $('#title').val();
            var content = layedit.getContent(index);

            var param = {
                yard: yard,
                system: system,
                title: title,
                content: content
            };

            var str11 = JSON.stringify(param);
            console.log(str11);
            $.post('save', param).then(function (resp) {
                var str = JSON.stringify(resp);
                console.log(str);
                if(resp.code == 200){
                    alert(resp.msg);
                    history.go(0);
                }else{
                    alert(resp.msg);
                    history.go(0);
                }
            });

        })

    })

</script>

<style type="text/css">


</style>
