{layout name="layout"}
<section class="content-header">
    <h1>
        贴吧管理
        <small>帖子详情编辑</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" class="layui-form">
                    <div class="box-body">

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">标题：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="form-control" placeholder="" id="title" disabled >
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">科室选择：</label>
                            <div class="layui-input-inline"  >
                                <input type="text" class="form-control" placeholder="" id="yard" disabled >
                        </div>
                            <div class="layui-input-inline" >
                                <input type="text" class="form-control" placeholder="" id="system" disabled >
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">内容：</label>
                            <div class="layui-input-inline" id="contentReply">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">评论：</label>

                            <ul class="ft clearfix" style="width: 865px;" id="reply">
                            </ul>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 180px;font-weight:bold;">回帖：</label>
                            <div class="layui-col-md9">
                                <textarea id="content" name="content" style="display: none;"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item" style="text-align: center;">
                            <button type="submit" class="layui-btn submitDate">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- 配置文件 -->
{js href="/static/ueditor/ueditor.config.js" /}
{js href="/static/layui/layui.js" /}
<!-- 实例化编辑器 -->
<script type="text/javascript">


    layui.use(['element', 'form', 'laydate', 'laypage', 'layer', 'laytpl', 'layedit'], function() {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var layedit = layui.layedit;
        var posts_id;

        var index = layedit.build('content'); //建立编辑器

        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1, url.length-5);
        //详情
        detail();
        function detail(){
            $.post('/posts/detail', {
                'id' : id
            }).then(function (resp) {
                var data = resp.msg[0];
                var result = resp.lists;
                var str11 = JSON.stringify(data);
                console.log(str11);
                posts_id = data.id;
                $("#title").val(data.title);
                $("#yard").val(data.yard_name);
                $("#system").val(data.system_name);;
                $("#contentReply").html(data.content);

                var html = '';
                $(result).each(function (i) {
                    html += '<li style="height: 30px;font-size: 15px;margin-left: 178px;"><span class="b">匿名回复：</span>'+this.content+'</li>';

                });
                $('#reply').html(html);

                form.render(); //这个很重要

            });
        }


        //添加 编辑
        $(document).on('click','.submitDate',function(){
            var content = layedit.getContent(index);
            $.post('/posts/reply', {
                posts_id: posts_id,
                content: content
            }).then(function (resp) {
                if(resp.code == 200){
                    alert(resp.msg);
                    history.go(0);
                }else{
                    alert(resp.msg);
                    history.go(0);
                }
            });

        })



    })

</script>

<style type="text/css">


</style>
