{layout name="layout" /}
<head>
    <meta charset="UTF-8"></head>
<section class="content-header">
    <h1>
        系统管理
        <small>邮件配置</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="{:url('admin/System/emailCreate')}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label>公司名字</label>
                            <input type="text" class="form-control" placeholder="" value="{$emailInfo['company']}"
                                   name="company">
                        </div>
                        <div class="form-group">
                            <label>服务器地址</label>
                            <input type="text" class="form-control" placeholder="" value="{$emailInfo['host']}"
                                   name="host">
                        </div>
                        <div class="form-group">
                            <label>端口号</label>
                            <input type="text" class="form-control" placeholder="" value="{$emailInfo['port']}"
                                   name="port">
                        </div>
                        <div class="form-group">
                            <label>邮箱协议</label>
                            <input type="text" class="form-control" placeholder="" value="{$emailInfo['agreement']}"
                                   name="agreement">
                        </div>
                        <div class="form-group">
                            <label>邮箱账号</label>
                            <input type="email" class="form-control" placeholder="" value="{$emailInfo['email']}"
                                   name="email">
                        </div>
                        <div class="form-group">
                            <label>邮箱密码</label>
                            <input type="password" class="form-control" placeholder="" value="{$emailInfo['password']}"
                                   name="password">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">提交配置信息</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>