{layout name="layout"}
<section class="content-header">
    <h1>
        数据概况
        <small>检查提交列表</small>
    </h1>
</section>
<!-- Main content -->
    <div class="content">
        <div class="content-area">
            <div class="layui-row" style="margin-top: 25px;">
                <div class="layui-form">

                    <div class="layui-col-md6">
                        <label class="layui-form-label" >科室选择：</label>
                        <div class="layui-input-inline">
                            <select name="yard" id="yard" lay-filter='yard'>
                                <option value="">请选择一级科室</option>
                                {volist name="$yards" id="yard"}
                                <option value="{$yard.id}">{$yard.name}
                                </option>
                                {/volist}
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="system" id="system">
                                <option value="">请选择二级科室</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-col-md3" style="text-align: right">
                        <label class="layui-inline" >姓名：</label>
                        <div class="layui-input-inline" style="margin-left: -4px; margin-top: -1px;">
                            <input type="text" class="layui-input search-text" id="stu_name">
                        </div>
                        <div class="layui-input-inline">
                            <a href="javascript:;" class="layui-btn search-btn" id="search">搜索</a>
                        </div>
                    </div>

                    <div class="layui-col-md3" style="text-align: right">
                        <div class="layui-input-inline">
                            <a href="javascript:;" class="layui-btn score-btn" id="score">计算成绩</a>
                        </div>
                    </div>

                </div>
            </div>
            <table class="layui-table" id="dataList">
                <thead>
                <tr>
                    <th>一级科室</th>
                    <th>二级科室</th>
                    <th>学生姓名</th>
                    <th>检查类型</th>
                    <th>手卫生次数</th>
                    <th>时机数</th>
<!--                    <th>是否有人指导</th>--> //暂时没用
                    <th>正确数</th>
                    <th>检查开始时间</th>
                    <th>检查结束时间</th>
                    <th>检查日期</th>
                    <th>备注</th>
                    <th>评价分数</th>
                    <th>日记分数</th>
                    <th>最终成绩</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="registerList">


                </tbody>
            </table>
        </div>
    </div>

{js href="/static/layui/layui.js" /}

<script type="text/javascript">


    layui.use(['element', 'form', 'laydate', 'laypage', 'layer', 'laytpl', 'layedit'], function() {
        var element = layui.element;
        var form = layui.form;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var layedit = layui.layedit;

        //院系联动
        form.on('select(yard)', function(data){
            var yardId=data.elem.value;
            $.post('system',{
                yardId:yardId
            },function (result) {
                html = "<option value='0'>请选择二级科室</option>";
                $(result).each(function (i) {
                    html +="<option value='"+this.id+"'>"+this.name+"</option>"
                });
                $('#system').html(html);
                form.render('select'); //这个很重要
            });
        });

        //计算成绩
        $(document).on('click', '.score-btn', function () {
            $.post('scoreDate', {}).then(function (resp) {
                var str55 = JSON.stringify(resp);
                console.log(str55);
                if(resp.code == 200){
                   var con =  '<strong>江油市第二人民医院-手卫生数据表<br>正确数（'+resp.score+'），时机总数（'+resp.volume+'），手卫生总次数（'+resp.base_type+'），总依从率（'+resp.base_type/resp.volume+'）,总正确率（'+resp.score/resp.volume+'）</strong>';
                    layer.open({
                        title: '<strong>数据一览</strong>'
                        ,content: con
                    });
                }else{
                    alert(resp.msg);
                }

            });
        });

        //删除
        $(document).on('click', '.del-btn', function () {
            var id = document.getElementById('data_id').innerHTML;
            $.post('del', {
                'id' : id
            }).then(function (resp) {
                console.log(resp);
                alert("删除成功");

            });
        });

        var identity = getCookie("identity");

        sellerList();

        function sellerList(){
            var yard = $("#yard").find("option:selected").val();
            var system = $("#system").find("option:selected").val();
            var stu_name = $("#stu_name").val();
            $.post('indexList', {
                'yard_id' : yard,
                'system_id' : system,
                'stu_name' : stu_name
            }).then(function (resp) {
                var str = JSON.stringify(resp);
                console.log(str);
                var html = "";
                $(resp).each(function (i) {
                    html += "<tr>";
                    html +="<td>"+this.yard_name+"</td>";
                    html +="<td>"+this.system_name+"</td>";
                    html +="<td>"+this.stu_name+"</td>";
                    html +="<td>"+this.internship_type+"</td>";
                    html +="<td>"+this.base_type+"</td>";
                    html +="<td>"+this.volume+"</td>";
                    if(this.has_guide == 1){
                        html +="<td>是</td>";
                    }else{
                        html +="<td>否</td>";
                    }
                    html +="<td>"+this.count+"</td>";
                    html +="<td>"+this.starttime+"</td>";
                    html +="<td>"+this.endtime+"</td>";
                    html +="<td>"+this.date+"</td>";
                    html +="<td>"+this.content+"</td>";
                    html +="<td>"+this.score+"</td>";
                    html +="<td>"+this.total+"</td>";
                    html +="<td>"+this.grade+"</td>";
                    html +='<td><span id="data_id" style="display: none;">'+this.id+'</span>';
                    // html +='<a href="{:url(\'admin/Assess/read\', [\'id\' => 13])}">' ;
                    html +='<a href="./get/'+this.id+'.html">' ;
                    html +='<span style="color: #f39c12;">详情</span></a><br><a href="" class="del-btn"><span style="color: #dd4b39;" >删除</span></a></td>';
                    html += "</tr>";
                });
                $('#registerList').html(html);
                form.render();

            });
        }

        // 获取指定名称的cookie
        function getCookie(name){
            var strcookie = document.cookie;//获取cookie字符串
            var arrcookie = strcookie.split("; ");//分割
            //遍历匹配
            for ( var i = 0; i < arrcookie.length; i++) {
                var arr = arrcookie[i].split("=");
                if (arr[0] == name){
                    return arr[1];
                }
            }
            return "";
        }

        $(document).on('click', '#search', function () {
            sellerList();
        })

    })
</script>

